@model IEnumerable<ControleTarefas.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Tarefas</h2>

@using (Html.BeginForm("Filtro", "Home", FormMethod.Get))
{
    <input type="text" id="txtPesquisar" name="filtro" placeholder="Pesquisar..." />
    <input type="submit" value="Buscar" class="btn btn-default" />
}
<p>
    @Html.ActionLink("Novo Cadastro", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            Título
        </th>
        <th>
            Descrição
        </th>
        <th>
            Data de Execução
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataExcucao)
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Remover", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/tarefa.js"></script>